<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>{% block title %}To-Do{% endblock title %}</title>
    

</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}


        {% include 'main-navigation.html' %}
<a href='{% url 'todosApp:today-tasks' %}'>Today</a>

        {% block content %}
        {% endblock content %}
    </div>
</body>

<!-- Scripts Start Here -->


<script src="https://kit.fontawesome.com/310156fd9b.js" crossorigin="anonymous"></script>
{% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $('#id_todoDate').datepicker({minDate: 0});
    });//End Ready
</script> {% endcomment %}

</html>