<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>User Logged Out</title>
    <script src="https://kit.fontawesome.com/310156fd9b.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <a href='{% url 'todosApp:login' %}'>Login</a>
    </div>
    
    
</body>

<!-- Scripts Start Here -->

</html>